@import "tailwindcss";

:root {
  --primary-color: #0051FF;
  /* --primary-color: hsl(244, 100%, 66%); */
  --body-bg: rgb(0, 0, 0);

  --text-grey-custom: hsl(0, 0%, 45%);
  --color-text-p: #C8C8C8;
  --bg-gradiente-circle: #0051FF45;


  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




html {
  width: 100%;
}

body {
  background-color: var(--body-bg);
  margin: 0 auto;
  display: flex;

  flex-direction: column;
  /* justify-content: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
}

a {
  display: inline-flex;
  font-size: 1.2em;
}